<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">
    <title>Creating New Post </title>
</head>
<body>
        <form method="post" accept="post/new">
            <input type="text" placeholder="Your username" name="username"><br><br><br>
            <textarea placeholder="Enter Post Description" name="Content"></textarea><br><br>
            <button>Post</button>
        </form>
</body>
</html>